{% extends 'baseConnect.html.twig' %}

{% block title %}Profil de {{ app.user.firstname }} {{ app.user.name }}{% endblock %}

{% block body %}
    <div class="grix xs4 container">
        <div class="col-xs4">
            <h1>Profil de {{ app.user.firstname }} {{ app.user.name }}1111</h1>
        </div>
        {% for message in app.flashes('message') %}
            <div class="col-xs4">
                <div class="p-3 my-2 rounded-2 success">{{ message }}</div>
            </div>
        {% endfor %}
        <div class="col-xs1">Id</div>
        <div class="col-xs3">{{ app.user.id }}</div>
        <div class="col-xs1">Nom</div>
        <div class="col-xs3">{{ app.user.name }}</div>
        <div class="col-xs1">Prénom</div>
        <div class="col-xs3">{{ app.user.firstname }}</div>
        <div class="col-xs1">Email</div>
        <div class="col-xs3">{{ app.user.email }}</div>
        <div class="col-xs4">
            <a href="{{ path('user_profil_edit') }}" class="btn shadow-1 rounded-1 small primary uppercase">Modifier le profil</a>
            <a href="{{ path('userProfileEditPass') }}"  class="btn shadow-1 rounded-1 small primary uppercase">Modifier le mot de passe</a>
        </div>

        <div class="col-xs4">
            <h1>Mes voyages ({{ app.user.Voyages|length }}) :</h1>
        </div>
        <div class="col-xs4">
            <ul>
                {% for voyage in app.user.Voyages %}
                    <li>
                        <a href='{{ path('connect_voyages_home')}}'>{{ voyage.titre }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
