{% extends 'baseConnect.html.twig' %}

{% block title %}Profil de {{ app.user.firstname }} {{ app.user.name }}{% endblock %}

{% block body %}
    <div class="grix xs4 container">
        <div class="col-xs4">
            <h1>Edition du profil de {{ app.user.firstname }} {{ app.user.name }}</h1>
        </div>
        {% for message in app.flashes('message') %}
            <div class="col-xs4">
                <div class="p-3 my-2 rounded-2 error">{{ message }}</div>
            </div>
        {% endfor %}
        <div class="col-xs1">Id</div>
        <div class="col-xs3">{{ app.user.id }}</div>
        <form method="POST">
            <div class="form-field">
                <label for="pass">Mot de passe</label>
                <input type="password" id="pass" name="pass" class="form-control rounded-1" />
            </div>
            <div class="form-field">
                <label for="pass2">Mot de passe</label>
                <input type="password" id="pass2" name="pass2" class="form-control rounded-1" />
            </div>

            <button class="btn shadow-1 rounded-1 blue">Validation</button>
        </form>
          
        <div class="col-xs4">
            <a href="{{path('users') }}" class="btn shadow-1 rounded-1 small primary uppercase">retour</a>
        </div>

    

    </div>
{% endblock %}
