{% extends 'baseConnect.html.twig' %}

{% block title %}Profil de {{ app.user.firstname }} {{ app.user.name }}{% endblock %}

{% block body %}
    <div class="grix xs4 container">
        <div class="col-xs4">
            <h1>Edition du profil de {{ app.user.firstname }} {{ app.user.name }}</h1>
        </div>
        <div class="col-xs1">Id</div>
        <div class="col-xs3">{{ app.user.id }}</div>
        
            {{ form(form) }}

        <div class="col-xs4">
            <a href="{{path('users') }}" class="btn shadow-1 rounded-1 small primary uppercase">retour</a>
        </div>

    

    </div>
{% endblock %}
