{% extends 'baseConnect.html.twig' %}

{% block title %}Hello Main Connect!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue dans vos voyages....</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}

    <ul>
        Récapitulatif :
            <li> Mes voyages (max 5)</li>
            <li>Dernier sac à dos (max 5)</li>
    </ul>
        


</div>
{% endblock %}
