{% extends 'baseAdmin.html.twig' %}

{% block title %}{{ titleSection }} user{% endblock %}

{% block body %}
<div class="container">   
    <a href="{{ path("admin_voyages_home") }}" class="btn blue"><- Retour</a>

    <h1>{{ titleSection }} un voyage.</h1>


    {{ form_start(form) }}

    <form class="form-material">
        <div class="grix xs1 sm2">
            <div class="form-field">
                {{ form_widget(form.titre) }}
                <label for="name">{{ form_label(form.titre) }}</label>
            </div>
            <div class="form-field">
                {{ form_widget(form.created_at) }}
                <label for="created_at">{{ form_label(form.created_at) }}</label>
            </div>
            <div class="form-field">
                {{ form_widget(form.users) }}
                <label for="user">{{ form_label(form.users) }}</label>
            </div>
            <div class="form-field"></div>
            <div class="form-field">
                {{ form_widget(form.dateTime_debut) }}
                <label for="dateTime_debut">{{ form_label(form.dateTime_debut) }}</label>
            </div>
            <div class="form-field">
                {{ form_widget(form.dateTime_fin) }}
                <label for="dateTime_fin">{{ form_label(form.dateTime_fin) }}</label>
            </div>
            <div class="form-field">
                {{ form_widget(form.participantNbAdultes) }}
                <label for="dateTime_debut">{{ form_label(form.participantNbAdultes) }}</label>
            </div>
            <div class="form-field">
                {{ form_widget(form.participantNbEnfants) }}
                <label for="participantNbEnfants">{{ form_label(form.participantNbEnfants) }}</label>
            </div>
            <div class="form-field">
                {{ form_widget(form.pays) }}
                <label for="pays">{{ form_label(form.pays) }}</label>
            </div>
            <div class="form-field"></div>
            <div class="form-field">
                {{ form_widget(form.save, { 'label': 'Sauvegarder' }) }}
            </div>    
    </form>
    {{ form_end(form) }}
</div>  

{% endblock %}