{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello Main Connect!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<h1>Gérer les utilisateurs</h1>


  <div class="grix xs4">
    <div>
    <a href="{{ path("admin_categories_ajout") }}" class="btn blue">Ajouter un utilisateur</a>
    <div></div>
    <div>
		{% if Categories|length > 0 %}
			{% if find == "" %}
				<a href="{{ path("admin_categories_drop") }}" class="btn red">Supprimer toutes les catégories</a>
			{% endif %}
		{% endif %}
    </div>
    <div>
		{% if find == "" %}
			<a href="{{ path("admin_categories_generer") }}" class="btn green">Générer 10 catégories</a>
		{% endif %}
    </div>
  </div>




	<table class="table striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Création</th>
				<th>Role(s)</th>
                <th>Valid</th>
				<th>Mail</th>
				<th>Nom</th>
				<th>Prénom</th>
				<th>Pseudo</th>
				<th>Sexe</th>
				
			</tr>
		</thead>
		<tbody>
        {% for User in Users %}            
			<tr>
				<td>{{User.id}}</td>

                <td>{{User.createdAt|date("m/d/Y") }}</td>
                <td>
                    {% for role in User.roles %}
                        {{ role }}
                    {% endfor %}
                </td>
                <td>
                    {% if User.isVerified == 0 %}
                        non
                    {% else %}
                        oui
                    {% endif %}
                </td>

                
                <td>{{User.email}}</td>
				<td>{{User.name}}</td>
				<td>{{User.firstname}}</td>
                
                <td>{{User.pseudo}}</td>
                <td>
                    {% if User.sexe == 0 %}
                        homme
                    {% else %}
                        femme
                    {% endif %}
                </td>
				<td class="text-center">
                    <a href="{{ path("admin_users_modif", {id: User.id}) }}" class="btn blue">Modifier</a>
                </td>
			</tr>
        {% endfor %}
		</tbody>
	</table>


<script>
  function validateForm() {
		console.log("validateForm");
		var table = document.getElementById ('dataTable');
		var checkboxes = table.querySelectorAll('input[type=checkbox]');
		let list = "";

	  	console.log("checkboxes.length", checkboxes.length);
		for (var i = 0; i < checkboxes.length; i++){
			//checkboxes[i].checked = val;
			var val = checkboxes[i].checked;
			//console.log("checkboxes[i] value", checkboxes[i].value);
			//console.log("checkboxes[i] val", val);
			if(val == true){
				list = list + "-" +  checkboxes[i].value;
				//console.log("checkboxes[i] val", checkboxes[i].value);
			}
			
		}
	
	//console.log("list : ", list);
		post('{{ path("admin_categories_supp") }}', {list: list});

	}

	function selectForm(checkbox) {
	  	console.log("selectForm");

		var table = document.getElementById ('dataTable');
		var checkboxes = table.querySelectorAll('input[type=checkbox]');
		let list = "";
		let checkEtat = true;

		var chkBox = document.getElementById('selectAll');
		if (checkbox.checked)
		{
			checkEtat = true;
		} else {
			checkEtat = false;
		}
		

		console.log("checkboxes.length", checkboxes.length);
		for (var i = 0; i < checkboxes.length; i++){
			checkboxes[i].checked = checkEtat;   
		}


	}

/**
 * sends a request to the specified url from a form. this will change the window location.
 * @param {string} path the path to send the post request to
 * @param {object} params the parameters to add to the url
 * @param {string} [method=post] the method to use on the form
 */
function post(path, params, method='post') {

  // The rest of this code assumes you are not using a library.
  // It can be made less verbose if you use one.
  const form = document.createElement('form');
  form.method = method;
  form.action = path;

  for (const key in params) {
    if (params.hasOwnProperty(key)) {
      const hiddenField = document.createElement('input');
      hiddenField.type = 'hidden';
      hiddenField.name = key;
      hiddenField.value = params[key];

      form.appendChild(hiddenField);
    }
  }

  document.body.appendChild(form);
  form.submit();
}


</script>




{% endblock %}