{% extends 'baseAdmin.html.twig' %}

{% block title %}{{ titleSection }} user{% endblock %}

{% block body %}
<div class="container">   
    <a href="{{ path("admin_users_home") }}" class="btn blue"><- Retour</a>

    <h1>{{ titleSection }}.</h1>

    {{ form_start(form) }}

    <form class="form-material">
        <div class="grix xs1 sm2">
            <div class="form-field">
                {{ form_widget(form.name) }}
                <label for="name">{{ form_label(form.name) }}</label>
            </div>
            <div class="form-field">
                {{ form_widget(form.firstname) }}
                <label for="firstname">{{ form_label(form.firstname) }}</label>
            </div>

            <div class="form-field">
            {{ form_widget(form.email) }}
                <label for="email">{{ form_label(form.email) }}</label>
            </div>
            <div class="form-field">
                {{ form_widget(form.pseudo) }}
                <label for="pseudo">{{ form_label(form.pseudo) }}</label>
            </div>
            <div class="form-field">
                {{ form_widget(form.Roles) }}
                <label for="Roles">{{ form_label(form.Roles) }}</label>
            </div>
            <div class="form-field"></div>

            <div class="form-field">
                {{ form_widget(form.date_naissance) }}
                <label for="date_naissance">{{ form_label(form.date_naissance) }}</label>
            </div>
            <div class="form-field">
                {{ form_widget(form.sexe) }}
                <label for="sexe">{{ form_label(form.sexe, "Sexe :") }}</label>
            </div>    
        

            <div class="form-field">
                {{ form_widget(form.password.first) }}
                <label for="Roles">{{ form_label(form.password.first, "Password :") }}</label>
            </div>
            <div class="form-field">
                {{ form_widget(form.password.second) }}
                <label for="Roles">{{ form_label(form.password.second, "Répète :") }}</label>
            </div>

            {{ form_widget(form.save, { 'label': 'Sauvegarder' }) }}
    </form>
    {{ form_end(form) }}
</div>

<!-- Include liste voyages uniquement pour la modif -->
{% if user.id is defined  %}
    {{ render(controller('App\\Controller\\Admin\\AdminVoyagesController::testVoyages', {user: user.id})) }}
{% endif %}

{% endblock %}