{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    Admin home<br/>
    <a href="../apip" target='_blank'>api platform</a>

<h2>Liens divers :</h2>
<ul>
    <li>Design bootstrap / Axentis -> <a href="https://www.youtube.com/watch?v=3EXjOy_1HyU"  target='_blank'>link</a></li>
    <li></li>
</ul>
<h2>Tuto :</h2>
<ul>
    <li>Tuto Symfony 5 / Lior Chamla -> </li>
    <li>Tuto Symfony 5 / Lior Chamla -> </li>
    <li>Tuto Symfony 5 / Nouvelle Techno -> 14 - Utiliser les DataFixtures avec Symfony 5.1 <a href="https://www.youtube.com/watch?v=3EXjOy_1HyU"  target='_blank'>link</a></li>
    <li>Angular 6+ / </li>
</ul>
</div>
{% endblock %}
