{% extends 'baseAdmin.html.twig' %}

{% block title %}Ajout catégorie{% endblock %}

{% block body %}
<div>   
 <a href="{{ path("admin_categories_home") }}" class="btn blue"><- Retour</a>
</div>  

    <h1>Ajouter une catégorie</h1>
    {{ form(form) }}

{% endblock %}