{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello Main Categorie!{% endblock %}

{% block body %}
  <style>
    .example-wrapper {
      margin: 1em auto;
      max-width: 800px;
      width: 95%;
      font: 18px/1.5 sans-serif;
    }
    .example-wrapper code {
      background: #F5F5F5;
      padding: 2px 6px;
    }
  </style>

  <h1>Gérer les catégories</h1>

<div clas="container">

</div >

  <div class="grix xs4">
    <div>
      <a href="{{ path("admin_users_ajout") }}" class="btn green">Ajouter une catégorie</a>
    </div>
    <div></div>
    <div>
		{% if Categories|length > 0 %}
			{% if find == "" %}
				<a href="{{ path("admin_categories_drop") }}" class="btn red">Supprimer toutes les catégories</a>
			{% endif %}
		{% endif %}
    </div>
    <div>
		{% if find == "" %}
			<a href="{{ path("admin_categories_generer") }}" class="btn green">Générer 10 catégories</a>
		{% endif %}
    </div>
  </div>
  <div class="grix xs4">
  	<div></div>
  	<div><form action="{{ path("admin_categories_recherche") }}" method="post"></div>
    <div>
      <input type="text" name="find" value="{{ find }}" >
	  <input type="submit" class="btn shadow-1 rounded-1 small primary uppercase" value="Recherche">
	  </form> 
    </div>
	<div>
		{% if find != "" %}
			<b><a href='{{ path("admin_categories_home") }}'>retour à toute la liste</a></b>
		{% endif %}
	</div>
  </div>
{% if Categories|length > 0 %}
  <table class="table striped" id="dataTable">
  
    <thead>
      <tr>
        <th>
		<input type="checkbox" onchange="selectForm(this);"  checked name="selectAll" value="1"/>
		</th>
        <th><a href='{{ path("admin_categories_tri", {col: 'id', sens: sens1}) }}'>ID</a></th>
        <th><a href='{{ path("admin_categories_tri", {col: 'created_at', sens: sens1}) }}'>Création</a></th>
        <th><a href='{{ path("admin_categories_tri", {col: 'name', sens: sens1}) }}'>Nom</a></th>
        <th>Slug</th>
        <th><a href='{{ path("admin_categories_tri", {col: 'parent', sens: sens1}) }}'>Parent</a></th>
      </tr>
    </thead>
    <tbody>
      {% for Categorie in Categories %}
        <tr>
          <td>
            <label class="form-check">
              <input type="checkbox" checked name="recordsCheckBox[]" value="{{ Categorie.id }}"/>
            </label>
          </td>
          <td>{{Categorie.id}}</td>
          <td>{{Categorie.createdAt|date("m/d/Y") }}</td>
          <td>{{Categorie.name}}</td>
          <td>{{Categorie.Slug}}</td>
          <td>{{Categorie.parent}}</td>

          <td class="text-center">
            <a href="{{ path("admin_categories_modif", {id: Categorie.id}) }}" class="btn blue">Modifier</a>
          </td>
          <td class="text-center">
            <a href="{{ path("admin_categories_supprimer", {id: Categorie.id}) }}" class="btn red">Supprimer</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
	<thead>
      <tr>
        <th>
			<input type="checkbox" onchange="selectForm(this);"  checked name="selectAll" value="1"/>
		</th>
		<th>
			<a onclick="return validateForm();" class="btn red">Supprimer tous les éléments selectionné</a>
		 </th>
      </tr>
    </thead>
  </table>
{% else %}
<thead>
<div class='container'>
	Aucune donnée actuellement. 
	<b><a href='{{ path("admin_categories_home") }}'>retour à toute la liste</a></b>
</div>
{% endif %}
<script>
  function validateForm() {
		console.log("validateForm");
		var table = document.getElementById ('dataTable');
		var checkboxes = table.querySelectorAll('input[type=checkbox]');
		let list = "";

	  	console.log("checkboxes.length", checkboxes.length);
		for (var i = 0; i < checkboxes.length; i++){
			//checkboxes[i].checked = val;
			var val = checkboxes[i].checked;
			//console.log("checkboxes[i] value", checkboxes[i].value);
			//console.log("checkboxes[i] val", val);
			if(val == true){
				list = list + "-" +  checkboxes[i].value;
				//console.log("checkboxes[i] val", checkboxes[i].value);
			}
			
		}
	
	//console.log("list : ", list);
		post('{{ path("admin_categories_supp") }}', {list: list});

	}

	function selectForm(checkbox) {
	  	console.log("selectForm");

		var table = document.getElementById ('dataTable');
		var checkboxes = table.querySelectorAll('input[type=checkbox]');
		let list = "";
		let checkEtat = true;

		var chkBox = document.getElementById('selectAll');
		if (checkbox.checked)
		{
			checkEtat = true;
		} else {
			checkEtat = false;
		}
		

		console.log("checkboxes.length", checkboxes.length);
		for (var i = 0; i < checkboxes.length; i++){
			checkboxes[i].checked = checkEtat;   
		}


	}

/**
 * sends a request to the specified url from a form. this will change the window location.
 * @param {string} path the path to send the post request to
 * @param {object} params the parameters to add to the url
 * @param {string} [method=post] the method to use on the form
 */
function post(path, params, method='post') {

  // The rest of this code assumes you are not using a library.
  // It can be made less verbose if you use one.
  const form = document.createElement('form');
  form.method = method;
  form.action = path;

  for (const key in params) {
    if (params.hasOwnProperty(key)) {
      const hiddenField = document.createElement('input');
      hiddenField.type = 'hidden';
      hiddenField.name = key;
      hiddenField.value = params[key];

      form.appendChild(hiddenField);
    }
  }

  document.body.appendChild(form);
  form.submit();
}


</script>
{% endblock %}
