<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}Connect!{% endblock %}
    </title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

    <!-- Axentix CSS minified version -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.3.0/dist/css/axentix.min.css">


    {% block stylesheets %}
      {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}
    <Link rel="stylesheet" href="{{ asset('css/style.css')}}">
  <script type="text/plain" class="language-css">
        .form-material .form-field:not(.form-default) {
      --form-material-color: #e92626; /* replace with your color */
    }
  </script>
  <script type="text/plain" class="language-js">
    Axentix.updateInputs()

    // With custom range of fields
    let fields = document.querySelectorAll('.form-material .form-field:not(.form-default) .form-control');

    Axentix.updateInputs(fields)
  </script>

  </head>
  <body class="layout with-sidenav" style='background: color #f00000;'>
    <header>
      <nav class="navbar shadow-1 primary">
        <a href="{{ path('app_home')}}" class="navbar-brand">MyVoyages</a>
        <div class="navbar-menu ml-auto">
          {% if app.user %}
            <a class="navbar-link" href="{{ path('app_logout') }}">Deconnexion</a>
          {% else %}
            <a class="navbar-link" href="{{ path('app_login') }}">Connexion</a>
          {% endif %}
          <!-- <a class="navbar-link" href=" path('admin_categories_ajout') ">Ajout Catégories</a> -->
          <a class="navbar-link" href="{{ path('admin_contact_home') }}">Contact</a>
          <a class="navbar-link" href="{{ path('connect_home') }}">Connect</a>
        </div>
      </nav>
    </header>

    <div id="example-sidenav" data-ax="sidenav" class="sidenav shadow-1 large fixed white">
      <div class="sidenav-header">
        <button data-target="example-sidenav" class="sidenav-trigger">
          <i class="fas fa-times">vnvn</i>
        </button>
      </div>
      {% set etatClass = "" %}
      {% if app.request.get('_route') == "admin_home" %}
        {% set etatClass = "active" %}
      {% endif %}
      <a href="{{ path('admin_home') }}" class="sidenav-link {{ etatClass }}">Accueil</a>
      {% set etatClass = "" %}
      {% if app.request.get('_route') == "admin_users_home" %}
        {% set etatClass = "active" %}
      {% endif %}
      <a href="{{ path('admin_users_home') }}" class="sidenav-link {{ etatClass }}">User</a>
      {% set etatClass = "" %}
      {% if app.request.get('_route') == "admin_voyages_home" %}
        {% set etatClass = "active" %}
      {% endif %}
      <a href="{{ path('admin_voyages_home') }}" class="sidenav-link {{ etatClass }}">Voyages</a>
      {% set etatClass = "" %}
      {% if app.request.get('_route') == "admin_monsac_home" %}
        {% set etatClass = "active" %}
      {% endif %}
      <a href="{{ path('admin_monsac_home') }}" class="sidenav-link {{ etatClass }}">Mon sac</a>
      {% set etatClass = "" %}
      {% if app.request.get('_route') == "admin_contact_home" %}
        {% set etatClass = "active" %}
      {% endif %}
      <a href="{{ path('admin_contact_home') }}" class="sidenav-link {{ etatClass }}">Contact</a>
      {% set etatClass = "" %}
      {% if app.request.get('_route') == "admin_categories_home" %}
        {% set etatClass = "active" %}
      {% endif %}
      <a href="{{ path('admin_categories_home') }}" class="sidenav-link {{ etatClass }}">Categories</a>

    </div>

    <main>
      <!-- Code here the main content -->
      <button data-target="example-sidenav" class="btn rounded-1 press amaranth dark-1 sidenav-trigger hide-md-up">
        Open sidenav
      </button>
      <!-- Code here the main content -->
      <div class="container">
        <div class="row">
 

          {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
              <div class="p-3 my-2 rounded-2 {{type}}">{{message}}</div>
            {% endfor %}
          {% endfor %}

        </div>

        {% block body %}{% endblock %}

      </div>
    </main>
    <footer class="footer primary">
      Copyright © 2021 - Worganic
    </footer>

    <!-- Axentix JS minified version -->
    <script src="https://cdn.jsdelivr.net/npm/axentix@1.3.0/dist/js/axentix.min.js"></script>
    <!-- Grix system -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.3.0/dist/css/grix.min.css">
    
    {% block javascripts %}
      {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
    <script src="{{ asset('js/script.js')}}"></script>


  </body>
</html>
