<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Connect!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        
        <!-- Axentix CSS minified version -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.3.0/dist/css/axentix.min.css">
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
        <Link rel="stylesheet" href="{{ asset('css/style.css')}}">

    </head>
    <body class="layout with-sidenav">
     <header>
      <nav class="navbar shadow-1 primary">
        <a href="{{ path('app_home')}}" class="navbar-brand">MyVoyages</a>
        <div class="navbar-menu ml-auto">
          {% if app.user %}
            <a class="navbar-link" href="{{ path('app_logout') }}">Deconnexion</a>
          {% else %}
            <a class="navbar-link" href="{{ path('app_login') }}">Connexion</a>
          {% endif %}
         <!-- <a class="navbar-link" href=" path('admin_categories_ajout') ">Ajout Catégories</a> -->
          <a class="navbar-link" href="{{ path('connect_contact_home') }}">Contact</a>
          {% if is_granted('ROLE_ADMIN') %}
            <a class="navbar-link" href="{{ path('admin_home') }}">Admin</a>
          {%endif%}
          <a class="navbar-link" href="{{ path('api_entrypoint') }}" target="_blanck">ApiPlatform</a>

        </div>
      </nav>
    </header>

    <div id="example-sidenav" data-ax="sidenav" class="sidenav shadow-1 large fixed white">
      <div class="sidenav-header">
        <button data-target="example-sidenav" class="sidenav-trigger"><i class="fas fa-times"></i></button>
      </div>

      {% set etatClass = "" %}
      {% if controller_name == "connect_home" %}
        {% set etatClass = "active" %}
      {% endif %}
      <a href="{{ path('connect_home') }}" class="sidenav-link {{ etatClass }}">Accueil</a>

      {% set etatClass = "" %}
      {% if controller_name == "users" %}
        {% set etatClass = "active" %}
      {% endif %}
      <a href="{{ path('users') }}" class="sidenav-link {{ etatClass }}">Mon profil</a>

      {% set etatClass = "" %}
      {% if controller_name == "connect_monsac_" %}
        {% set etatClass = "active" %}
      {% endif %}
      <a href="{{ path('connect_monsac_home') }}" class="sidenav-link {{ etatClass }}">Mon sac à dos</a>

      {% set etatClass = "" %}
      {% if controller_name == "connect_voyages_" %}
        {% set etatClass = "active" %}
      {% endif %}
      <a href="{{ path('connect_voyages_home') }}" class="sidenav-link {{ etatClass }}">Mes voyages</a>


    </div>

    <main>
       <!-- Code here the main content -->
      <button data-target="example-sidenav"
        class="btn rounded-1 press amaranth dark-1 sidenav-trigger hide-md-up">
          Open sidenav
      </button>
      <!-- Code here the main content -->
      <div class="container">
      {% block body %}{% endblock %}
      </div>
    </main>
    <footer class="footer primary">
      Copyright © 2021 - Worganic
    </footer>
        
        <!-- Axentix JS minified version -->
        <script src="https://cdn.jsdelivr.net/npm/axentix@1.3.0/dist/js/axentix.min.js"></script>
    
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
        <script src="{{ asset('js/script.js')}}"></script>
    </body>
</html>
