<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        
        <!-- Axentix CSS minified version -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.3.0/dist/css/axentix.min.css">
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
        <Link rel="stylesheet" href="{{ asset('css/style.css')}}">

    </head>
    <body>
     <header>
      <nav class="navbar shadow-1 primary">
        <a href="{{ path('app_home')}}" class="navbar-brand">MyVoyages</a>
        <div class="navbar-menu ml-auto">
          {% if app.user %}
            <a class="navbar-link" href="{{ path('app_logout') }}">Deconnexion</a>
          {% else %}
            <a class="navbar-link" href="{{ path('app_login') }}">Connexion</a>
          {% endif %}
         <!-- <a class="navbar-link" href=" path('admin_categories_ajout') ">Ajout Catégories</a> -->
          <!-- <a class="navbar-link" href="{{ path('connect_monsac_ajout') }}">Ajout Sac à dos</a>-->
          <a href="" class="navbar-link">Liste des voyages</a>
          <a class="navbar-link" href="#">Link 4</a>


        </div>
      </nav>
    </header>
    <main>
      <!-- Code here the main content -->
      <div class="container">
      {% block body %}{% endblock %}
      </div>
    </main>
    <footer class="footer primary">
      Copyright © 2021 - Worganic
    </footer>
        
        <!-- Axentix JS minified version -->
        <script src="https://cdn.jsdelivr.net/npm/axentix@1.3.0/dist/js/axentix.min.js"></script>
    
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
        <script src="{{ asset('js/script.js')}}"></script>
    </body>
</html>
