{% extends 'baseAdmin.html.twig' %}

{% block title %}{{ titleSection }}{% endblock %}

{% block body %}
<div class="container">   
    <a href="{{ path("admin_monsac_home") }}" class="btn blue"><- Retour</a>

    <h1>{{ titleSection }} un sac.</h1>


    {{ form_start(form) }}

    <form class="form-material">
        <div class="grix xs1 sm2">
            <div class="form-field">
                {{ form_widget(form.title) }}
                <label for="title">{{ form_label(form.title) }}</label>
            </div>
            <div class="form-field">
                {{ form_widget(form.Slug) }}
                <label for="Slug">{{ form_label(form.Slug) }}</label>
            </div>
            
            <div class="form-field">
                {{ form_widget(form.users) }}
                <label for="users">{{ form_label(form.users) }}</label>
            </div>
            <div class="form-field"></div>
     
            <div class="form-field">
                {{ form_widget(form.Content) }}
                <label for="Content">{{ form_label(form.Content) }}</label>
            </div>
            <div class="form-field"></div>

            <div class="form-field">
                {{ form_widget(form.url) }}
                <label for="Content">{{ form_label(form.url) }}</label>
            </div>
            <div class="form-field"></div>

            <div class="form-field">
                {{ form_widget(form.Budgets_paye) }}
                <label for="Content">{{ form_label(form.Budgets_paye) }}</label>
            </div>
            <div class="form-field">
                {{ form_widget(form.Budgets_prevus) }}
                <label for="Content">{{ form_label(form.Budgets_prevus) }}</label>
            </div>


            <div class="form-field">
                {{ form_widget(form.Etat) }}
                <label for="Content">{{ form_label(form.Etat) }}</label>
            </div>
            <div class="form-field">
                {{ form_widget(form.categories) }}
                <label for="categories">{{ form_label(form.categories) }}</label>
            </div>

            <div class="form-field">
                {{ form_widget(form.active) }}
                <label for="active">{{ form_label(form.active) }}</label>
            </div>

            <div class="form-field">
                {{ form_widget(form.date_achat) }}
                <label for="active">{{ form_label(form.date_achat) }}</label>
            </div>

            <div class="form-field"></div>
            <div class="form-field">
                {{ form_widget(form.save, { 'label': 'Sauvegarder' }) }}
            </div>    

    </form>
    {{ form_end(form) }}
</div>  

{% endblock %}