{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello Main Connect!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<h1>Gérer les sac à dos</h1>
    <a href="{{ path("admin_contact_ajout") }}" class="btn blue">Ajouter un contact</a>
	<table class="table striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Création</th>
				<th>Début</th>
                <th>Fin</th>
				<th>Utilisateur</th>
				<th>Titre</th>
				<th>Part. Adultes</th>
				<th>Part. Enfants</th>
				
			</tr>
		</thead>
		<tbody>
        {% for Contact in Contacts %}            
			<tr>
				<td>{{Contact.id}}</td>
                <td>{{Contact.dateTime|date("m/d/Y") }}</td>
                
                <td>{{Contact.user.id}}</td>
                <td>{{Contact.mail}}</td>
				<td>{{Contact.ip}}</td>
				<td>{{Contact.nom}}</td>
				<td>{{Contact.telephone}}</td>
				
				<td class="text-center">
                    <a href="{{ path("admin_contact_modif", {id: Contact.id}) }}" class="btn blue">Modifier</a>
                </td>
			</tr>
            <tr>
                <td></td>
                <td colspan=7>{{Contact.texte}}</td>
            </tr>
        {% endfor %}
		</tbody>
	</table>
{% endblock %}
